<app-nav-bar></app-nav-bar>

<div class="ventana">
  <div class="perfil-container">
    <h2>Mi Perfil</h2>
    <button class="btn-logout" (click)="onLogout()">Logout</button>
    <hr />

    <h3>Cambiar contraseña</h3>
    <input
      [(ngModel)]="oldPass"
      #oldPassNg="ngModel"
      (ngModelChange)="clearMessages()"
      type="password"
      placeholder="Contraseña actual"
      required
    />
    <input
      [(ngModel)]="newPass"
      #newPassNg="ngModel"
      (ngModelChange)="clearMessages()"
      type="password"
      placeholder="Nueva contraseña"
      required
    />
    <input
    [(ngModel)]="confirmPass"
    #confirmNg="ngModel"
    [class.invalid]="confirmNg.invalid && confirmNg.touched"
    type="password"
    placeholder="Confirmar contraseña"
  />

    <div *ngIf="confirmNg.touched && newPass !== confirmPass" class="error-message">
      <small>Las contraseñas no coinciden.</small>
    </div>
    <button
    (click)="onChangePassword()"
    [disabled]="
      oldPassNg.invalid ||
      newPassNg.invalid ||
      confirmNg.invalid ||
      newPass !== confirmPass
    "
  >
    Actualizar contraseña
  </button>

    <h3>Cambiar correo</h3>
    <input
      [(ngModel)]="emailForm"
      #emailNg="ngModel"
      (ngModelChange)="clearMessages()"
      type="email"
      placeholder="Nuevo correo"
      required
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    />
    <div *ngIf="emailNg.touched && emailNg.invalid" class="error-message">
      <small *ngIf="emailNg.errors?.['required']">El correo es obligatorio.</small>
      <small *ngIf="emailNg.errors?.['pattern']">Formato de correo no válido.</small>
    </div>
    <button (click)="onChangeEmail()" [disabled]="emailNg.invalid">
      Actualizar email
    </button>

    <h3>Cambiar teléfono</h3>
    <input
      [(ngModel)]="telefonoForm"
      #telefonoNg="ngModel"
      (ngModelChange)="clearMessages()"
      type="tel"
      placeholder="Nuevo teléfono"
      required
      pattern="^[679]\d{8}$"
    />
    <div *ngIf="telefonoNg.touched && telefonoNg.invalid" class="error-message">
      <small *ngIf="telefonoNg.errors?.['required']">El teléfono es obligatorio.</small>
      <small *ngIf="telefonoNg.errors?.['pattern']">
        Debe tener 9 dígitos y empezar por 6, 7 o 9.
      </small>
    </div>
    <button (click)="onChangeTelefono()" [disabled]="telefonoNg.invalid">
      Actualizar teléfono
    </button>

    <h3>Eliminar cuenta</h3>
    <button class="del" (click)="onDeleteAccount()">Eliminar mi cuenta</button>

    <div class="msg success" *ngIf="msgSuccess">{{ msgSuccess }}</div>
    <div class="msg error"   *ngIf="msgError">{{ msgError }}</div>
  </div>
</div>
