.login-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #ff7e57;
  margin-bottom: 2rem;
  border-radius: 2px;
}

.login-form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: 600;
  font-size: 0.95rem;
}

input[type="email"] {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn-login {
  background-color: #ff7e57;
  color: #000;
  padding: 0.75rem;
  font-weight: bold;
  width: 40%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-login:hover {
  background-color: #ce502a;
}

.forgot-password {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 1rem;
  color: #ff7e57;
  text-decoration: underline;
  cursor: pointer;
}

.info {
  margin-top: 1rem;
  color: #006064;
  background: #e0f7fa;
  padding: 0.6rem;
  border-radius: 4px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
