<div class="login-container">
  <h2>Recuperar Contraseña</h2>
  <div class="underline"></div>

  <form (ngSubmit)="onSubmit()" class="login-form">
    <label for="email">Correo electrónico</label>
    <input id="email" name="email" type="email" required [(ngModel)]="email" />
    <div class="buttons">
      <button type="submit" class="btn-login">Enviar</button>
      <button class="btn-login" (click)="goToLogIn()">Volver al Login</button>
    </div>
  </form>
  <p *ngIf="msg" class="info">{{ msg }}</p>
</div>
