<app-nav-bar></app-nav-bar>
<div class="page-container" >
  <h2 class="page-title">Datos de la Peluquería</h2>
  <form (ngSubmit)="onSubmit()" class="form-inline">
    <input class="input-field" [(ngModel)]="dto.nombre" name="nombre"
           placeholder="Nombre" required />

    <textarea class="input-field" [(ngModel)]="dto.descripcion" name="descripcion"
              placeholder="Descripción" rows="3"></textarea>

    <input class="input-field" [(ngModel)]="dto.ubicacion" name="ubicacion"
           placeholder="Dirección (para Google Maps)" required />

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>

  <p class="info" *ngIf="msg">{{ msg }}</p>
</div>
