<nav class="navbar">
  <div class="navbar-brand"> {{titulo}}</div>
  <ul class="navbar-nav">
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/citas" routerLinkActive="active">Citas</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
    <li><a routerLink="/resenas" routerLinkActive="active">Reseñas</a></li>
    <li> <a  *ngIf="(auth.currentUser$| async)?.rol === 'ADMIN'" routerLink="/admin/usuarios">Gestión Usuarios</a></li>
    <li> <a  *ngIf="(auth.currentUser$| async)?.rol === 'ADMIN'" routerLink="/admin/servicios">Gestión Servicios</a></li>
    <li> <a  *ngIf="(auth.currentUser$| async)?.rol === 'ADMIN'" routerLink="/admin/citas">Gestión Citas</a></li>
    <li> <a  *ngIf="(auth.currentUser$| async)?.rol === 'ADMIN'" routerLink="/admin/horarios">Gestión Horarios</a></li>
    <li> <a  *ngIf="(auth.currentUser$| async)?.rol === 'ADMIN'" routerLink="/admin/peluqueria">Gestión Peluquería</a></li>
  </ul>
  <div class="navbar-actions">
    <a *ngIf="!isLoggedIn()" routerLink="/auth/login">Login</a>
    <a *ngIf="isLoggedIn()" routerLink="/perfil">Perfil</a>
  </div>
</nav>
